[Unit]
Description=WiFi Lights Service
After=network.target

[Service]
User=gwendal
WorkingDirectory=/home/gwendal/wifi-lights
ExecStart=/usr/bin/python3 $(PYTHON_SCRIPT)
Restart=on-failure
RestartSec=5
ExecStartPre=/usr/bin/python3 -m pip install -r $(WORKING_DIR)/requirements.txt
ExecStartPost=/usr/bin/bash -c "[[ \$$? -ne 0 ]] && $(SCAN_COMMAND) && sudo systemctl restart $(SERVICE_NAME)"

[Install]
WantedBy=multi-user.target