[Unit]
Description=WiFi Lights Service
After=network.target

[Service]
User=gwendal
WorkingDirectory=/home/gwendal/wifi-lights
ExecStart=/home/gwendal/venv/bin/python3 /home/gwendal/wifi-lights/src/scripts/running/switch_status_watcher.py
Restart=on-failure
RestartSec=5
ExecStartPost=/home/gwendal/wifi-lights/venv/bin/python3 -m tinytuya scan

[Install]
WantedBy=multi-user.target